<!--/*// ************************** Alfiyyah's Contribution *********************!/*/-->

<!doctype html>
<html lang="en">

<main>
  <main class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light">
    <div class="col-md-5 p-lg-5 mx-auto my-5">
      <h1 class="display-4 fw-normal">{{title1}}</h1>
      <br>
      <h2 class="lead fw-normal">Covaxx provides a high quality online system to make bookings and store all necessary certificates</h2>
    </div>
  </main>
</main>
<img src="assets/covid.jpg" alt="covid image" width="100%" height="250px" >
</html>

<!--/*// ************************** Alfiyyah's Contribution *********************!/*/-->
