/*/ ************************** Alfiyyah's Contribution *********************!*/

div {
  background-color: lightblue;
}

h1 {
  color: royalblue;
  font-family: Arial, sans-serif;
  font-size: xxx-large;
  text-align: center;
}

.py-2 {
  color:black;
}

.lead{
  color: midnightblue;
}

/*/ ************************** Alfiyyah's Contribution *********************!*/
