/*// ************************** Alfiyyah's Contribution *********************!/*/
h3 {
  font-family: Arial, sans-serif;
  font-size: xx-large;
  text-align: center;
}

h5{
  font-family: Arial, sans-serif;
  font-size: large;
}

h6{
  font-family: Arial, sans-serif;
  font-size: large;
}

/*// ************************** Alfiyyah's Contribution *********************!/*/
